.main{
    width: 100%;
    height: 100vh;
    background-image: url('/images/fondoEcommerce.png');
    background-size: cover;
    background-position: center;
}

.login-form{
    min-width: 500px !important;
}

.btn-signin {
    width: 250px;
    border: none;
    color: white;
    background-color: black;
    text-transform: capitalize;
    font-size: 17px;
    padding: 6px 36px;
    opacity:0.8;
}

label {
    color: white;
}
