* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

body {
    padding: 32px;
}

h4 {
    font-size: 32px;
    margin-bottom: 0;
    text-align: center;
}

.text-wrap {
    white-space: nowrap;
}

.d-none {
    display: none;
}

.text-end {
    text-align: right;
}

.text-start {
    text-align: left;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.bg-gray-light {
    background-color: #f8f9fa;
}

.date {
    padding-top: 8px;
}

.data {
    padding-top: 4px;
    padding-bottom: 4px;
}

.content-table {
    padding-top: 32px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.table-head {
    line-height: 32px;
    text-align: left;
    background-color: #e2e8f0;
    color: #0f172a;
}

th,
td {
    padding: 8px;
}

tr th:first-child,
tr td:first-child {
    padding-left: 16px;
}

th {
    text-align: left;
}

thead tr {
    vertical-align: top;
    border: 1px solid #e2e8f0;
    border-bottom: 1px solid #0004;
}

tbody tr {
    vertical-align: top;
    /* border: 1px solid #0004; */
}

th {
    font-size: 14px;
    line-height: 16px;
}

td {
    /* border: 1px solid #0004; */
    line-height: 24px;
    font-size: 12px;
}