:root {
    --cant-items-menu: 2;
    --secondary: #ff7514;
}

/* app */
#app {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    grid-template-columns: 260px 1fr;
}

.master {
    width: 100%;
    overflow-y: scroll;
}

.nav-content {
    width: 280px;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    background-color: #fff;
    transform: translateX(-280px);
    transition: all 0.3s ease;
}

.btn-absolute {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(48px);
    color: #4f5464 !important;
}

.nav-hidden {
    transform: translateX(0px);
}

.nav-hidden .btn-absolute {
    transform: translateX(0px);
}

.nav-hidden .icon-list {
    display: none;
}

.icon-x {
    display: none;
}

.icon-list {
    display: block;
}

.nav-hidden .icon-x {
    display: block;
}

@media (min-width: 1024px) {
    .nav-content {
        width: 280px;
        position: relative;
        transform: translateX(0px);
    }
    .btn-absolute {
        display: none !important;
    }
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav-links .dropdown {
    height: calc(var(--cant-items-menu) * 42px + 16px);
    overflow: hidden;
    transition: all 300ms ease-out 100ms;
}

.nav-links .dropdown-small {
    height: 42px;
    transition: all 300ms ease-out 100ms;
}

.icon-dropdown-down {
    display: none;
}

.icon-dropdown-up {
    display: block;
}

.dropdown-small .icon-dropdown-down {
    display: block;
}

.dropdown-small .icon-dropdown-up {
    display: none;
}

.nav-links .dropdown-head {
    display: flex;
    justify-content: space-between;
}

.nav-links .dropdown-body {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
}

.nav-logo {
    margin-bottom: 16px;
}

.nav-links a {
    padding: 8px;
    border-radius: 8px;
    font-weight: 500;
    color: #6c757d;
    text-decoration: none;
    transition: 0.2s all ease;
}

.nav-links a:hover,
.nav-footer-link:hover {
    color: #ff7514;
}

.nav-links a i,
.nav-footer-link i {
    padding-right: 8px;
    font-size: 19px;
}

.nav-footer-link:first-child i {
    padding-right: 8px;
    font-size: 28px;
}

.nav-footer {
    display: flex;
    flex-direction: column;
}

.nav-footer-link {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 8px;
    font-weight: 500;
    color: #6c757d;
    text-decoration: none;
    transition: 0.2s all ease;
}

.nav-link-user {
    display: inline-flex;
    flex-direction: column;
}

.nav-links .nav-link-select,
.nav-footer .nav-link-select {
    background-color: #f8f9fa;
    color: #ff7514;
}
/* Estilos al contenerdor padre */
.main {
    min-height: 100vh;
}

/* =================================== */
/* Generales */
.container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-orange {
    background: #ff8300 !important;
    color: #fff !important;
    height: 2.3rem !important;
}

.btn-blue {
    background: #48e !important;
    color: #fff !important;
    height: 2.3rem !important;
}

.btn-orange-unselect {
    background: transparent !important;
    color: #4f5464 !important;
    height: 2.3rem !important;
}

.btn-orange-unselect:hover {
    background: #ff830055 !important;
}

.btn-orange-outline {
    color: #ff8300 !important;
    background-color: #fff !important;
    height: 2.3rem !important;
    border: 1px solid #ff8300 !important;
}

.submit-orange {
    background: #ff8300 !important;
    color: #fff !important;
    height: 2.8rem !important;
}

.submit-orange-outline {
    color: #ff8300 !important;
    background-color: #fff !important;
    height: 2.8rem !important;
    border: 1px solid #ff8300 !important;
}

/* Switch input form*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: var(--secondary);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Paginacion de tablas */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.pagination li {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.pagination li .page-link {
    border-radius: 0.25rem;
    border: none;
    min-width: 2.25rem;
    text-align: center;
    color: #4f5464;
}

.pagination li.active .page-link,
.pagination li .page-link:hover {
    background-color: #ff8300;
    color: #fff;
    font-weight: bold;
}

/* Alert confirm */
.confirm-alert {
    position: absolute;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: #00000055;
}

.confirm-alert-hide {
    visibility: hidden;
}

.confirm-alert-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    height: 200px !important;
    padding: 32px;
}

.confirm-alert-card p {
    font-size: 20px;
    font-weight: bold;
}

.confirm-alert-buttons {
    display: flex;
    justify-content: end;
    gap: 16px;
}

/* Table styles */
.content-table {
    overflow: auto;
}

.content-table-full {
    max-height: 675px !important;
}

.table-head {
    background: #ff7514;
    color: white;
}

.content-table tr {
    line-height: 3rem;
}

.content-table th,
.content-table td {
    padding-left: 16px;
    white-space: nowrap;
    vertical-align: text-top;
}

.content-table td {
    color: #4f5464;
}

.text-wrap-puntitos {
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.line-center {
    height: 42px;
    display: flex;
    align-items: center;
}
/* =============================================== */
/* Estidos de los modales y tablas */
.modal-title {
    font-size: 20px;
    font-weight: bold;
}

/* =============================================== */
/* Modales */
.modal-content {
    border: none;
    padding: 8px;
}

.modal-header,
.modal-body,
.modal-footer {
    border: none !important;
}

/* =============================================== */
/* Formularios e imputs */
label {
    padding-bottom: 4px;
    color: #6c757d;
    font-weight: 500;
}

/* Acceso denegado 403 */
.unautorize-content {
    height: calc(100vh - 128px);
}

.unautorize-content span {
    font-weight: bold;
    color: #ff8300;
}

.unautorize-content p {
    max-width: 450px;
}

.img-403 {
    max-width: 400px;
}

/* Datatables */
#tabla_wrapper>div:first-child {
    padding-bottom: 12px;
}

#tabla_wrapper>div:first-child>div #tabla_length label,
#tabla_wrapper>div:first-child>div #tabla_filter label {
    display: flex;
    align-items: center;
    gap: 12px;
    text-wrap: nowrap;
}

#tabla_wrapper>div:first-child>div #tabla_length select {
    min-width: 64px;
}


#tabla_paginate .pagination .page-item:hover {
    background-color: #48e !important;
}

#tabla_paginate .pagination li {
    padding: 0;
    border: none;
    border-radius: 8px;
}
